
.evaluation-panel .nav-tabs > li {
    background: #EFEFEF;
    margin-right: 2px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #DDDDDD;
}

.evaluation-panel .nav-tabs > li.active {
    border-bottom: 1px solid transparent;
    background: #FFFFFF;
}

.evaluation-panel .nav-tabs > li > a {
    display: inline-block;
    border-radius: 0;
    margin: 0;
    background: transparent !important;
    border: 0px solid transparent !important;
}

.tab-contents {
    display: none;
}

.tab-contents.show {
    display: block;
}

.tab-contents .select2-combo,
.tab-contents .tab-content-btn {
    display: none;
}

.tab-contents a.delete-question {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
}

.tab-contents .category-panel {
    position: relative;
}

.tab-contents .category-panel .tab-controls {
    position: absolute;
    top: 0;
    right: 0;
    overflow: visible;
}

.tab-contents .category-panel .tab-controls .tooltip {

}

#vendor-number {
    display: none;
}
